* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* generali */


.button {
  min-width: 80px;
  min-height: 25px;
  line-height: 25px;
  border-radius: 25px;
  padding: 10px 10px;
  text-align: center;
  display: inline-block;
}

a {
  text-decoration: none;
}
p {
  margin: 30px 0px;
}

h2{
  font-size: 3em;
}

h3{
  font-size: 2em;
}
/* fine generali */

/* generali per sezioni */
.section-1,
.section-2,
.section-3,
.section-4 {
  width: 100%;
  min-height: 700px;
}
.container-1,
.container-2,
.container-3,
.container-5 {
  margin: auto;
  width: 70%;
  display: flex;
  align-items: center;
  padding-top: 100px;
}

.container-1 > .img-box {
  display: inline-block;
}
.info-box {
  display: inline-block;
  width: 50%;
}
/* fine generali per sezioni */

/* header */
.header-box {
  background-color: #255ee9;
  height: 50px;
  width: 100%;
}

.nav-bar {
  display: flex;
  width: 70%;
  background-color: #255ee9;
  height: 60%;
  margin: auto;
  padding-top: 30px;
}

.header-icons {
  width: 25%;
  align-items: center;
  display: flex;
  padding: 5px;
}

.header-central {
  width: 50%;
}

.login {
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.header-central > ul {
  text-align: center;
  padding-top: 5px;
}

.header-central > ul > li > a {
  text-decoration: none;
  color: white;
}

.header-central > ul > li {
  display: inline-block;
  text-decoration: none;
  padding: 0px 20px;
}

.header-button > a {
  text-decoration: none;
  color: black;
}

.header-button {
  background-color: white;
  border-color: white;
}

.buttom-header {
  width: 100%;
  background-color: #255ee9;
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/img/jumbo.png);
  background-position: center;
  background-size: cover;
}

.pink-box {
  width: 50%;
  min-height: 300px;
  text-align: center;
  color: white;
}

.pink-box > h2 {
  font-size: 4em;
}

.pink-box > p {
  margin-top: 20px;
}

.pink-box > div > .button {
  display: inline-block;
  margin: 20px 20px;
  border-style: none;
}

.pink-box > div > div {
  background-color: white;
  color: black;
}

#black-button {
  background-color: #23272a;
}

#black-button > a {
  color: white;
}

/* fine header */

/* inizio main */

.section-2 {
  background-color: #f6f6f6;
  height: 700px;
}

.section-4 {
  background-color: #f6f6f6;
}

.container-4 {
  display: block;
  width: 70%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.container-4 :nth-child(4) {
  background-image: url(../img/stars.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 50px;
  line-height: 50px;
}

.container-4 > div > h3 {
  margin-top: 50px;
}

.container-4 :nth-child(5) {
  background-color: #7289da;
  color: white;
  margin: 50px 0px;
}

/* fine main */

/* iniziofooter */

  
.box > ul:first-child {
  color: #7289da;
}

.box > ul > li {
  list-style: none;
  padding: 10px 0px;
}

.box > ul > li > a {
  color: white;
}

.footer-1{
  background-color: #23272a;
  
}

.container-5{
  border-bottom:1px solid #7289da;
  min-height: 600px;
}

.main-box {
  height: 400px;
  width: calc(100% / 3);
  padding-top: 20px;
}

.main-box > h3 {
  color: #7289da;
  padding-bottom: 10px;
}

.main-box > .ita{
  height: 20px;
  width: 20px;
  color: white;
  display: inline-block;
}
.main-box > span{
  color: white;
  padding-left: 5px;
}
.main-box > div > img{
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}

.social-box{
  color: white;
  padding-top: 10px;
}

.social-box > i{
  padding-right: 20px;
}

.box {
  width: calc(100% / 6);
  height: 400px;
}
  
.container-6{
  width: 70%;
  margin: auto;
  padding: 10px 0px 50px 0px;
  display: flex;
  justify-content: space-between;
}

.container-6 > .button > a{
  
  color: white;;
}

.container-6 > .button{
  background-color: #7289da;
}
